<mat-card>
  <h2>Drivers Licence Form</h2>

  <div class="container">

    <form [formGroup]="driverLicenceForm" (ngSubmit)="onSubmit()" novalidate>

        <section class="section" *ngIf="error$ | async; let error">
            <mat-error>
                {{error}}
            </mat-error>
        </section>

      <mat-form-field>
        <input matInput placeholder="First Name" formControlName="firstName">

        <mat-error *ngIf="driverLicenceForm.get('firstName').hasError('required')">
          First Name is
          <strong>required</strong>
        </mat-error>

      </mat-form-field>

      <mat-form-field>

        <input matInput placeholder="Last Name" formControlName="lastName">

        <mat-error *ngIf="driverLicenceForm.get('lastName').hasError('required')">
          Last Name is
          <strong>required</strong>
        </mat-error>

      </mat-form-field>

      <mat-form-field>

        <!--<input matInput placeholder="Gender" formControlName="gender">-->
        <mat-select placeholder="Gender" formControlName="gender">
        <mat-option>Please Select a Gender</mat-option>
        <mat-option value="Male">Male</mat-option>
        <mat-option value="Female">Female</mat-option>
        <mat-option value="X">X</mat-option>
      </mat-select>
      </mat-form-field>

      <mat-form-field>

        
        <!--<input matInput placeholder="Date of Birth" formControlName="DOB">-->

        <input matInput type="date" formControlName="dateOfBirth"  ng-model="driversLicenceRegistration.dateOfBirth"
        placeholder="Your Date of Birth in dd-MM-yyyy" min="01-01-1900" max="01-01-2001" required />
 

        <mat-error ng-show="myForm.input.$error.required">
            <span>Required!</span>
        </mat-error>
          
        <mat-error ng-show="myForm.input.$error.date">
            <span>Not a valid date!</span>
        </mat-error>

      </mat-form-field>

      <mat-form-field>

        <!--<input matInput placeholder="Licence Type" formControlName="type">-->


        <mat-select placeholder="Licence Type" formControlName="type">
            <mat-option>Please Select a Licence Type</mat-option>
            <mat-option value="Class A">Class A</mat-option>
            <mat-option value="Class B">Class B</mat-option>
            <mat-option value="Class C">Class C</mat-option>
          </mat-select>

        <mat-error *ngIf="driverLicenceForm.get('type').hasError('required')">
            Licence Type
          <strong>required</strong>
        </mat-error>

      </mat-form-field>

      <mat-form-field>

        <input matInput placeholder="Address" formControlName="address">

        <mat-error *ngIf="driverLicenceForm.get('address').hasError('required')">
          Address is
          <strong>required</strong>
        </mat-error>

      </mat-form-field>


          <section class="section">
              Do you have any serious medical conditions?
        
                <mat-checkbox formControlName="medicalConditions" ng-model="driversLicenceRegistration.medicalConditions">Yes</mat-checkbox>

              </section>

      <mat-form-field>

        <input matInput placeholder="Lengh of Licence" formControlName="lengthOfLicenceYears">

        <mat-error *ngIf="driverLicenceForm.get('lengthOfLicenceYears').hasError('required')">
          Last Name is
          <strong>required</strong>
        </mat-error>

      </mat-form-field>
      
      <section class="section">
      Have you ever committed any driving offences?

        <!--<input matInput placeholder="Have you ever committed any driving offences" formControlName="drivingOffences">-->

        
        <mat-checkbox formControlName="drivingOffences" ng-model="driversLicenceRegistration.drivingOffences">Yes</mat-checkbox>
          


        <mat-error *ngIf="driverLicenceForm.get('drivingOffences').hasError('required')">
          Last Name is
          <strong>required</strong>
        </mat-error>
      </section>



        <div style="margin-bottom: 1em">

          <button mat-raised-button color="primary" type="submit" [disabled]="driverLicenceForm.invalid || driverLicenceForm.pristine" class="btn btn-success">Save</button> &nbsp;
          <button mat-raised-button color="warn" type="reset" (click)="revert()" [disabled]="driverLicenceForm.invalid || driverLicenceForm.pristine"
            class="btn btn-danger">Revert</button>

        </div>
  

    </form>

  </div>

  <p>
    <strong>DEBUG DATA</strong>
  </p>
  <p>{{ driverLicenceForm.value | json }}</p>
  <p>{{ driverLicenceForm.status | json }}</p>

</mat-card>
