<mat-card>
  <h2>Drivers Licence Form</h2>

  <div class="container">

    <form [formGroup]="driverLicenceForm" (ngSubmit)="onSubmit()" novalidate>

        <section class="section" *ngIf="error$ | async; let error">
            <mat-error>
                {{error}}
            </mat-error>
        </section>

      <mat-form-field>
        <input matInput placeholder="First Name" formControlName="FirstName">

        <mat-error *ngIf="driverLicenceForm.get('FirstName').hasError('required')">
          First Name is
          <strong>required</strong>
        </mat-error>

      </mat-form-field>

      <mat-form-field>

        <input matInput placeholder="Last Name" formControlName="LastName">

        <mat-error *ngIf="driverLicenceForm.get('LastName').hasError('required')">
          Last Name is
          <strong>required</strong>
        </mat-error>

      </mat-form-field>

      <mat-form-field>

        <input matInput placeholder="Gender" formControlName="Gender">

      </mat-form-field>

      <mat-form-field>

        <input matInput placeholder="Date of Birth" formControlName="DOB">

        <mat-error *ngIf="driverLicenceForm.get('DOB').hasError('required')">
          Last Name is
          <strong>required</strong>
        </mat-error>

      </mat-form-field>

      <mat-form-field>

        <input matInput placeholder="Licence Type" formControlName="TypeOfLicence">

        <mat-error *ngIf="driverLicenceForm.get('TypeOfLicence').hasError('required')">
          Last Name is
          <strong>required</strong>
        </mat-error>

      </mat-form-field>

      <mat-form-field>

        <input matInput placeholder="Address" formControlName="Address">

        <mat-error *ngIf="driverLicenceForm.get('Address').hasError('required')">
          Last Name is
          <strong>required</strong>
        </mat-error>

      </mat-form-field>


          <section class="section">
              Do you have any serious medical conditions?
        
                <mat-checkbox formControlName="MedicalConditions" ng-model="drivers.MedicalConditions">Yes</mat-checkbox>

              </section>

      <mat-form-field>

        <input matInput placeholder="Lengh of Licence" formControlName="LengthOfLicence">

        <mat-error *ngIf="driverLicenceForm.get('LengthOfLicence').hasError('required')">
          Last Name is
          <strong>required</strong>
        </mat-error>

      </mat-form-field>
      
      <section class="section">
      Have you ever committed any driving offences?

        <!--<input matInput placeholder="Have you ever committed any driving offences" formControlName="DrivingOffences">-->

        
        <mat-checkbox formControlName="DrivingOffences" ng-model="drivers.DrivingOffences">Yes</mat-checkbox>
          


        <mat-error *ngIf="driverLicenceForm.get('DrivingOffences').hasError('required')">
          Last Name is
          <strong>required</strong>
        </mat-error>
      </section>



        <div style="margin-bottom: 1em">

          <button mat-raised-button color="primary" type="submit" [disabled]="driverLicenceForm.invalid || driverLicenceForm.pristine" class="btn btn-success">Save</button> &nbsp;
          <button mat-raised-button color="warn" type="reset" (click)="revert()" [disabled]="driverLicenceForm.invalid || driverLicenceForm.pristine"
            class="btn btn-danger">Revert</button>

        </div>
  

    </form>

  </div>

  <p>
    <strong>DEBUG DATA</strong>
  </p>
  <p>{{ driverLicenceForm.value | json }}</p>
  <p>{{ driverLicenceForm.status | json }}</p>

</mat-card>
