<mat-card>
  <h2>Boating License Form</h2>
  <div class="container">
    <form [formGroup]="boatApplicationForm">
      <mat-form-field>
        <input matInput placeholder="First Name" formControlName="firstName">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="lastName">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Date of Birth" formControlName="dateOfBirth">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Gender" formControlName="gender">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Address" formControlName="address">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Medical Conditions" formControlName="medicalConditions">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="License Type" formControlName="typeOfLicense">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Expiry" formControlName="expiry">
      </mat-form-field>
    </form>
  </div>
</mat-card>