<mat-card>
  <h2>Boating License Form</h2>
  <div class="container">
    <form [formGroup]="boatApplicationForm">
      <mat-form-field>
        <input matInput placeholder="First Name" formControlName="firstName">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="lastName">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="dateOfBirth" formControlName="dateOfBirth">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="gender" formControlName="gender">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="address" formControlName="address">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="medicalConditions" formControlName="medicalConditions">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="typeOfLicense" formControlName="typeOfLicense">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="expiry" formControlName="expiry">
      </mat-form-field>
    </form>
  </div>
</mat-card>